# Manejo de datos
pandas==3.0.3
numpy==2.4.6

# Modelos de Machine Learning
scikit-learn==1.9.0
xgboost==3.2.0
imbalanced-learn==0.14.2

# Interpretabilidad (XAI)
shap==0.52.0
lime==0.2.0.1

# NLP
transformers==5.12.0
torch==2.12.0

# Visualización
matplotlib==3.11.0
seaborn==0.13.2

# Utilidades (Excel y entorno)
openpyxl==3.1.5
jupyter==1.1.1
